.editor {
    position: relative;
    margin: 8px auto 24px auto;
    width: 50vw;
    height:500px;
    border: 1px solid black;
    border-radius: 20px;
}

.create-blog-heading {
    margin-top: 120px;

}