.header-container {
    display: flex;
    height: 102px;
    background-color: #262626;
    color: #a5a5a5;
    font-size: 14px;
    line-height: 21px;
    text-align: left;
    text-shadow: #000000 0px 0px 1px;
}

.header-img {
    
}