.form-container {
    display: flex;
    background-color: white;
    border-radius: 25px;
    width: 400px;
}

.close-btn {
    top: 12px;
    position: absolute;
    right: 20px;
}

.close-btn:hover {
    color: red;
    cursor: pointer;
}

.form-message {
    color: red;
}