.video-category-page {
    display: flex;
    flex-direction: column;
}

.video-category-title {
    margin-top: 120px;
}

.video-category-container {
    position: relative;
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
}