.blog-category-page {
    display: flex;
    flex-direction: column;
}

.blog-category-title {
    margin: 120px auto auto auto;
}

.blog-category-container {
    position: relative;
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
}

.blog-category-container a {
    text-decoration: none;
}