.blog-category-container {
    margin-top: 120px;
    width: 100%;
}

.blog-category {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.blog-category-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 16px;
    overflow-y: hidden;
    width: 402px;
    height: 500px;
    border: 1px solid black;
    border-radius: 20px;
}

.blog-category-item:hover {
    zoom: 1.1;
    cursor: pointer;
}

.blog-category-item-img {
    height: 400px;
    width: 400px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.blog-category-item-body {
    width: 400px !important;
    height: 600px;
    padding: 10px 10px;
    overflow-wrap: break-word;
}

.body-title {
    font-size: 16px;
}

.body-description {
    font-size: 14px;
}