.add-video-page {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background-color: white;
    align-items: center;
}

.form-container {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 120px;
    background-color: white;
    border-radius: 5px;
    width: 50%;
    height: 100%;
}

.form-group {
    width: 100%;
    padding: 16px 16px;
}

.form-input {
    position: relative;
    width: 100%;
    margin-left: 4px;
}

.video-content-input {
    height: 150px;
}

.upload-btn {
    width: 120px;
    margin: auto 0 auto auto;
}

.form-message {
    color: red;
}