.add-video-form {
    display: flex;
    flex-direction: column;
}

.close-btn {
    top: 12px;
    position: absolute;
    right: 20px;
}

.close-btn:hover {
    cursor: pointer;
    color: red;
}

.upload-btn {
    width: 120px;
    margin: auto 0 auto auto;
}

.form-message {
    color: red;
}