.video-category-page {
    display: flex;
    flex-direction: column;
}

.video-category-title {
    margin: 120px auto auto auto;
}

.video-category-container {
    position: relative;
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
}

.video-category-container a {
    text-decoration: none;
}

.add-video-btn {
    position: relative;
    top: 100px;
    width: 150px;
    margin: 0 0 auto auto;
}