.video-category-page {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 120px;
    height: calc(100% - 102px);
}

.video-category-title {
    margin: 12px auto auto auto;
}

.video-category-container {
    position: relative;
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
}

.video-category-container a {
    text-decoration: none;
}

.add-video-btn {
    position: relative;
    width: 150px;
    margin: 0 0 auto auto;
    right: -200px;
}