.video-category-page {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: max-content;
}

.video-category {
    display: flex;
    margin-top: 120px;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
}

.video-category-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 16px;
    overflow-wrap: break-word;
    width: 402px;
    height: 500px;
    border: 1px solid black;
    border-radius: 20px;
}

.video-category-item:hover {
    cursor: pointer;
}

.video-category-item:hover a {
    text-decoration: none;
}

.video-category-item-img {
    height: 400px;
    width: 400px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.video-category-item-body {
    width: 400px !important;
    height: 600px;
    padding: 10px 10px;
}

.video-category-container a {
    text-decoration: none;
}

.card-title :hover {
    text-decoration: none;
}