.blog-list {
    position: relative;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.blog-category-title {
    position: relative;
    margin: 120px auto 0px auto;
}

.blog-category-container {
    position: relative;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: max-content;
}

.blog-category-container a {
    text-decoration: none;
}

.create-blog-form {
    position: relative;
    width: 150px;
    margin: 0 0 auto auto;
    right: 0;
}