.about-us-title {
    margin-top: 8px;
}

.about-us-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.about-us-sub-title {
    text-align: center;
}