.homepage {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.about-us-title {
    margin-top: 880px;
    position: absolute;
}

.about-us-content {
    position: absolute;
    margin-top: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.about-us-sub-title {
    position: absolute;
    text-align: center;
}

.about-us-paragraph:first-of-type {
    margin-top: 24px;
}

.about-us-paragraph {
    margin-top: 8px;
    text-align: justify;
}



.about-us-end-paragraph {
    width: 100%;
    text-align: right;
    font-style: italic;
}