.header-container {
    position: fixed;
    display: flex;
    height: 102px;
    justify-content: center;
    background-color: #262626;
    color: #eaec59;
    font-size: 14px;
    line-height: 21px;
    text-align: left;
    text-shadow: #000000 0px 0px 1px;
}

.header-content {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 10%;
}


.header-img-heading {
    display: flex;
    justify-content: center;
    height: 100%;
}

.header-heading {
    height: 100%;
    text-align: center;
}

.header-img {
    height: 90px;
    width: 90px;
    border-radius: 45px;
}

.header-nav-list {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    list-style-type: none;
}

.header-nav-list a {
    text-decoration: none;
}

.header-nav-list-item {
    display: block;
    margin: 0 16px;
    padding: 12px 12px;
}

.header-nav-list-item a {
    color: #eaec59;
}


.header-phone-number {
    
}