.close-btn {
    top: 12px;
    position: absolute;
    right: 20px;
}

.close-btn:hover {
    color: red;
    cursor: pointer;
}

.form-message {
    color: red;
}

.button {
    width: 150px;
}

.button:first-child {
    margin-left: 8px;
}