.close-btn {
    top: 12px;
    position: absolute;
    right: 20px;
}

.close-btn:hover {
    color: red;
    cursor: pointer;
}

#login-form {
    margin: 4px 0 4px 0;
    width: 90%;
    height: 100%;
}

.form-message {
    color: red;
}